.btn {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  background: rgba(17, 17, 17, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  white-space: nowrap;
  transition: all 0.3s ease 0s; }
  .btn.btn-simple {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 12px 16px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .btn.btn-red {
    background: #EB1537;
    border: 1px solid #EB1537;
    padding: 12px 16px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .btn._active {
    background: #FFFFFF;
    backdrop-filter: blur(0);
    color: #000000; }
  .btn.btn-disabled {
    background-color: #ccc;
    border-color: #999999;
    cursor: not-allowed;
    color: #666666;
    opacity: 0.7; }
  @media (min-width: 992px) {
    .btn:hover {
      background: #FFFFFF;
      backdrop-filter: blur(0);
      color: #000000; }
    .btn.btn-simple:hover {
      background: #eaeaea;
      backdrop-filter: blur(0);
      color: #000000; }
    .btn.btn-red:hover {
      background: #e7919f;
      backdrop-filter: blur(0);
      color: #ffffff; }
    .btn.btn-disabled:hover {
      background-color: #ccc;
      border-color: #999999;
      cursor: not-allowed;
      color: #666666;
      opacity: 1; } }
  @media (max-width: 767.98px) {
    .btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.2; } }
  .btn._fw {
    width: 100%; }

.lang {
  display: flex;
  padding: 0 28px;
  height: 40px;
  position: relative; }
  .lang__btn {
    display: none; }
  .lang ul {
    display: flex;
    align-items: center; }
    .lang ul li + li {
      margin-left: 28px; }
    .lang ul li a {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease-in 0s; }
      .lang ul li a:hover {
        color: #fff; }
      .lang ul li a._active {
        color: #fff;
        font-weight: 700; }
  @media (min-width: 100px) {
    .lang {
      padding: 0;
      height: 40px; }
      .lang__btn {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 24px 5px 5px;
        position: relative;
        transition: all 0.3s ease 0s; }
        .lang__btn:after {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: 10px;
          right: 0;
          background: url("../img/icons/caret.svg") center no-repeat;
          transition: all 0.3s ease 0s; }
      .lang ul {
        width: 40px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease 0s;
        position: absolute;
        bottom: 52px;
        right: 0;
        background: #da002b;
        padding: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column; }
        .lang ul li {
          display: block;
          width: 100%;
          height: 22px; }
          .lang ul li + li {
            margin-left: 0;
            margin-top: 14px; }
          .lang ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 22px; }
      .lang._active ul {
        opacity: 1;
        visibility: visible;
        bottom: 42px; }
      .lang._active .lang__btn:after {
        transform: rotate(180deg); } }
  body._active .lang__btn {
    color: #111111; }
    body._active .lang__btn:after {
      background: url("../img/icons/caret-black.svg") center no-repeat; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  gap: 8px;
  height: 44px;
  border: 1px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #111111; }
  .input.error {
    border-color: #EB1537; }

textarea.input {
  padding: 12px 16px;
  height: auto;
  resize: none; }

.error-msg {
  width: 100%;
  color: #EB1537;
  text-align: left;
  margin-top: 4px;
  font-weight: 500;
  display: none; }
  .input.error + .error-msg {
    display: block; }

.checkbox {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center; }
  .checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .checkbox__input:checked + .checkbox__bg,
    .checkbox__input ._active .checkbox__bg {
      background: #fff url("../img/checkbox-active.svg") center no-repeat; }
  .checkbox__bg {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox.svg") center no-repeat; }
  .checkbox__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    display: flex;
    align-items: center;
    text-align: left; }

.radio {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center; }
  .radio__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .radio__input:checked + .radio__bg,
    .radio__input ._active .radio__bg {
      background: #fff url("../img/radio-active.svg") center no-repeat;
      background-size: 20px 20px; }
  .radio__bg {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/radio.svg") center no-repeat;
    background-size: 20px 20px; }
  .radio__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    display: flex;
    align-items: center;
    text-align: left; }

/*# sourceMappingURL=forms.css.map */
