@charset "UTF-8";
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #000;
  font-family: "Raleway";
  font-size: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on; }
  body._lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 2; }
  .wrapper.noscroll {
    height: 100%;
    overflow: hidden; }

._container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 1264px) {
    ._container {
      max-width: 1264px; } }
  @media (max-width: 479.98px) {
    ._container {
      padding: 0 10px; } }

.btn {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  background: rgba(17, 17, 17, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  white-space: nowrap;
  transition: all 0.3s ease 0s; }
  .btn.btn-simple {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 12px 16px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .btn.btn-red {
    background: #EB1537;
    border: 1px solid #EB1537;
    padding: 12px 16px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .btn._active {
    background: #FFFFFF;
    backdrop-filter: blur(0);
    color: #000000; }
  .btn.btn-disabled {
    background-color: #ccc;
    border-color: #999999;
    cursor: not-allowed;
    color: #666666;
    opacity: 0.7; }
  @media (min-width: 992px) {
    .btn:hover {
      background: #FFFFFF;
      backdrop-filter: blur(0);
      color: #000000; }
    .btn.btn-simple:hover {
      background: #eaeaea;
      backdrop-filter: blur(0);
      color: #000000; }
    .btn.btn-red:hover {
      background: #e7919f;
      backdrop-filter: blur(0);
      color: #ffffff; }
    .btn.btn-disabled:hover {
      background-color: #ccc;
      border-color: #999999;
      cursor: not-allowed;
      color: #666666;
      opacity: 1; } }
  @media (max-width: 767.98px) {
    .btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.2; } }
  .btn._fw {
    width: 100%; }

.lang {
  display: flex;
  padding: 0 28px;
  height: 40px;
  position: relative; }
  .lang__btn {
    display: none; }
  .lang ul {
    display: flex;
    align-items: center; }
    .lang ul li + li {
      margin-left: 28px; }
    .lang ul li a {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease-in 0s; }
      .lang ul li a:hover {
        color: #fff; }
      .lang ul li a._active {
        color: #fff;
        font-weight: 700; }
  @media (min-width: 100px) {
    .lang {
      padding: 0;
      height: 40px; }
      .lang__btn {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 24px 5px 5px;
        position: relative;
        transition: all 0.3s ease 0s; }
        .lang__btn:after {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: 10px;
          right: 0;
          background: url("../img/icons/caret.svg") center no-repeat;
          transition: all 0.3s ease 0s; }
      .lang ul {
        width: 40px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease 0s;
        position: absolute;
        bottom: 52px;
        right: 0;
        background: #da002b;
        padding: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column; }
        .lang ul li {
          display: block;
          width: 100%;
          height: 22px; }
          .lang ul li + li {
            margin-left: 0;
            margin-top: 14px; }
          .lang ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 22px; }
      .lang._active ul {
        opacity: 1;
        visibility: visible;
        bottom: 42px; }
      .lang._active .lang__btn:after {
        transform: rotate(180deg); } }
  body._active .lang__btn {
    color: #111111; }
    body._active .lang__btn:after {
      background: url("../img/icons/caret-black.svg") center no-repeat; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  gap: 8px;
  height: 44px;
  border: 1px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #111111; }
  .input.error {
    border-color: #EB1537; }

textarea.input {
  padding: 12px 16px;
  height: auto;
  resize: none; }

.error-msg {
  width: 100%;
  color: #EB1537;
  text-align: left;
  margin-top: 4px;
  font-weight: 500;
  display: none; }
  .input.error + .error-msg {
    display: block; }

.checkbox {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center; }
  .checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .checkbox__input:checked + .checkbox__bg,
    .checkbox__input ._active .checkbox__bg {
      background: #fff url("../img/checkbox-active.svg") center no-repeat; }
  .checkbox__bg {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox.svg") center no-repeat; }
  .checkbox__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    display: flex;
    align-items: center;
    text-align: left; }

.radio {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center; }
  .radio__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .radio__input:checked + .radio__bg,
    .radio__input ._active .radio__bg {
      background: #fff url("../img/radio-active.svg") center no-repeat;
      background-size: 20px 20px; }
  .radio__bg {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/radio.svg") center no-repeat;
    background-size: 20px 20px; }
  .radio__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    display: flex;
    align-items: center;
    text-align: left; }

.h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 48px;
  color: #ffffff; }

.h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 24px; }

@media (max-width: 1024.98px) {
  .h1 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 32px; } }
@media (max-width: 767.98px) {
  .h1 {
    font-size: 35px;
    margin-bottom: 24px; } }
.row:after {
  display: block;
  content: "";
  clear: both; }

.rub:after {
  content: "₽"; }

ol.counter {
  list-style-type: none;
  counter-reset: item; }
  ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px; }
    ol.counter li:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb; }

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.table {
  display: table;
  font-size: 0;
  width: 100%; }

.trow {
  display: table-row; }

.cell {
  display: table-cell; }
  .cell.full {
    width: 100%; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.moretext {
  overflow: hidden; }

.moretext__more {
  cursor: pointer; }
  .moretext__more span {
    font-style: normal; }
    .moretext__more span:first-child {
      display: block; }
    .moretext__more span:last-child {
      display: none; }
  .moretext__more.active span {
    font-style: normal; }
    .moretext__more.active span:first-child {
      display: none; }
    .moretext__more.active span:last-child {
      display: block; }

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

._tabs-block {
  display: none; }
  ._tabs-block._active {
    display: block; }

.mirror {
  transform: scale(-1, 1); }

.nicescroll-rails {
  z-index: 1000 !important; }

.gm-style-iw-t {
  opacity: 0; }

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important; }
  .baloon button {
    display: none !important; }
  .baloon:after {
    display: none !important; }

.baloon-style {
  display: none; }

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important; }
  .baloon-content.gm-style-iw > .gm-style-iw-d {
    overflow: hidden !important;
    max-width: none !important; }
  .baloon-content.gm-style-iw:after {
    display: none !important; }

.baloon-close {
  top: 18px !important; }

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000; }
  ._custom-scroll__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%; }

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden; }
  .popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s; }
  .popup.show {
    visibility: visible; }
    .popup.show::before {
      opacity: 1; }
    .popup.show .popup__body {
      transform: scale(1); }
  .popup._active {
    visibility: visible; }
    .popup._active::before {
      opacity: 1; }
    .popup._active .popup__body {
      transition: all 0.3s ease 0.2s;
      transform: scale(1); }
  .popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .popup__body {
    transform: scale(0);
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 800px; }
  .popup__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 30;
    background: url("../img/icons/close.svg") 0 0 no-repeat; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px; }
  .header__logo svg {
    width: 101.27px;
    height: 30px;
    fill: #ffffff;
    transition: all 0.3s ease 0s; }
  .header__geo, .header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease 0s; }
    .header__geo svg, .header__phone svg {
      width: 20px;
      height: 20px;
      fill: #ffffff;
      transition: all 0.3s ease 0s; }
    .header__geo:hover, .header__phone:hover {
      opacity: 0.7; }
  .header__phone {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff; }
  .header.dark-menu .header__logo svg, .header.dark-menu .header__phone svg {
    fill: #EB1537; }
  .header.dark-menu .header__geo {
    color: #111111; }
    .header.dark-menu .header__geo svg {
      fill: #111111; }
  .header.dark-menu .header__phone {
    color: #EB1537; }
  @media (max-width: 1200px) {
    .header.dark-menu .header__logo svg, .header.dark-menu .header__phone svg {
      fill: #ffffff; }
    .header.dark-menu .header__geo {
      color: #ffffff; }
      .header.dark-menu .header__geo svg {
        fill: #ffffff; }
    .header.dark-menu .header__phone {
      color: #ffffff; } }
  @media (max-width: 767px) {
    .header__geo {
      display: none; }
    .header__phone {
      width: 32px;
      height: 32px;
      font-size: 0;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .header__phone svg {
        flex: 0 1 24px;
        width: 24px;
        height: 24px; } }

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px; }
  .footer__copy {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 19px; }
    .footer__copy a {
      position: relative;
      color: #FFFFFF;
      transition: all 0.3s ease 0s;
      color: #FFFFFF; }
      .footer__copy a:hover {
        opacity: 0.7; }
  .footer.dark-menu .footer__copy {
    color: #111111; }
    .footer.dark-menu .footer__copy a {
      color: #111111; }
  @media (max-width: 1200px) {
    .footer.dark-menu .footer__copy {
      color: #ffffff; }
      .footer.dark-menu .footer__copy a {
        color: #ffffff; } }
  @media (max-width: 450px) {
    .footer__copy a {
      display: none; } }

.page {
  flex: 1 1 auto; }

.noscroll {
  position: fixed;
  overflow-y: scroll; }

.main-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: progress;
  z-index: 999999;
  overflow: hidden;
  display: none; }
  .main-loader .transform {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff; }
  .main-loader .loader-dots {
    position: relative;
    display: block; }
    .main-loader .loader-dots > div {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: #fff;
      animation: scaling 1.5s ease-in-out infinite; }
      .main-loader .loader-dots > div:nth-child(0) {
        animation-delay: 0s; }
      .main-loader .loader-dots > div:nth-child(1) {
        animation-delay: 0.2s; }
      .main-loader .loader-dots > div:nth-child(2) {
        animation-delay: 0.4s; }
      .main-loader .loader-dots > div:nth-child(3) {
        animation-delay: 0.6s; }
      .main-loader .loader-dots > div:nth-child(4) {
        animation-delay: 0.8s; }
      .main-loader .loader-dots > div:nth-child(5) {
        animation-delay: 1s; }
      .main-loader .loader-dots > div:not(:last-child) {
        margin-bottom: 0.625rem; }

.section {
  height: 100vh;
  min-height: 700px; }
  .section.hidden {
    visibility: hidden;
    height: 0;
    min-height: 0; }

.section-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 40px; }
  .section-inner .content {
    width: 100%;
    max-width: 620px; }
    .section-inner .content__title {
      width: 100%;
      max-width: 520px;
      font-weight: 800;
      font-size: 40px;
      line-height: 40px;
      color: #EB1537;
      margin-bottom: 24px; }
      .section-inner .content__title span {
        color: #111111; }
    .section-inner .content__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
      margin-top: -8px;
      margin-bottom: 24px; }
    .section-inner .content__text {
      width: 434px;
      min-height: 200px;
      max-height: 373px;
      overflow-y: auto; }
    .section-inner .content__btns {
      margin-top: 16px;
      width: 434px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px; }
      .section-inner .content__btns .btn {
        width: calc(50% - 4px); }
  .section-inner .btn-links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px; }
  .section-inner .bg-content {
    width: 624px;
    height: 400px; }
    .section-inner .bg-content img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px; }
  @media (max-width: 1200px) {
    .section-inner .content {
      position: relative;
      z-index: 2;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 16px;
      padding: 20px; }
      #slide1 .section-inner .content {
        background-color: transparent; }
      .section-inner .content .h1 {
        text-align: center; }
      .section-inner .content__text, .section-inner .content__btns {
        margin: 16px auto 0; }
      .section-inner .content__btns {
        justify-content: center; }
    .section-inner .bg-content {
      display: none; } }
  @media (max-width: 1024.98px) {
    .section-inner .btn-links {
      align-items: center;
      justify-content: center; } }
  @media (max-width: 767px) {
    .section-inner .content {
      width: 100%;
      padding: 12px; }
      .section-inner .content__title {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 12px; }
      .section-inner .content__subtitle {
        margin-bottom: 12px; }
      .section-inner .content__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        overflow: hidden; }
      .section-inner .content__text {
        width: 100%;
        max-width: 434px;
        margin-top: 0; }
        .section-inner .content__text form {
          width: 100%;
          display: block;
          overflow: hidden; }
      .section-inner .content__btns {
        width: 100%; } }
  @media (max-width: 479.98px) {
    .section-inner {
      padding-right: 30px; } }
  @media (max-height: 700px) {
    .section-inner {
      padding-top: 76px;
      padding-bottom: 76px; } }

.navigation {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 0;
  margin-top: -145px;
  text-align: center;
  box-sizing: border-box;
  padding-right: 5px;
  opacity: 0;
  visibility: hidden; }
  .navigation li {
    font-size: 0;
    line-height: 0;
    padding: 10px;
    cursor: pointer; }
    .navigation li span {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      transition: all 0.3s ease 0s; }
    .navigation li.disabled {
      opacity: 0;
      visibility: hidden; }
    .navigation li.light-menu span {
      background-color: #ffffff; }
    .navigation li.light-menu.active span {
      background-color: #EB1537; }
    .navigation li.dark-menu span {
      background-color: #E8E8E8; }
    .navigation li.dark-menu.active span {
      background-color: #EB1537; }
  @media (max-width: 479.98px) {
    .navigation {
      padding-right: 0; } }

.checkbox__block {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer; }
  .checkbox__block._active {
    border: 1px solid #EB1537; }
  .checkbox__block:hover {
    border: 1px solid #e7919f; }
  .checkbox__block + .checkbox__block {
    margin-top: 8px; }
  .checkbox__block-image img {
    border-radius: 10px;
    width: 144px;
    height: 93px;
    object-fit: cover; }
  .checkbox__block-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    margin-bottom: 16px;
    max-height: 40px;
    overflow: hidden;
    text-align: left; }
  .checkbox__block-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    text-align: left; }
  @media (max-width: 600px) {
    .checkbox__block {
      padding: 6px 8px;
      gap: 8px; }
      .checkbox__block-image img {
        width: 100px;
        height: 100px; }
      .checkbox__block-text {
        margin-bottom: 8px; }
      .checkbox__block-description {
        flex: 1; } }
  @media (max-width: 479.98px) {
    .checkbox__block-image img {
      width: 70px;
      height: 70px; } }

.tourList__item {
  display: flex;
  padding: 12px 16px;
  gap: 8px;
  border: 1px solid #E8E8E8;
  backdrop-filter: blur(5px);
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer; }
  .tourList__item:hover {
    border: 1px solid #e7919f; }
  .tourList__item + .tourList__item {
    margin-top: 8px; }
  .tourList__item._active {
    border: 1px solid #EB1537; }

.icon-rate {
  margin-left: 4px;
  display: block;
  width: 80px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .icon-rate._rate5 {
    background-image: url("../img/rate/5.svg"); }
  .icon-rate._rate4 {
    background-image: url("../img/rate/4.svg"); }
  .icon-rate._rate3 {
    background-image: url("../img/rate/3.svg"); }

.estimated-expenses__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 8px; }
.estimated-expenses__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #999999; }
  .estimated-expenses__text p {
    margin-bottom: 0; }
    .estimated-expenses__text p p + p {
      margin-top: 1em; }

.final-form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 16px; }
.final-form__row {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px; }
  .final-form__row:last-child {
    margin-bottom: 0; }
.final-form__col {
  width: 100%; }
  .final-form__col._sm {
    flex: 1 0 134px; }

.payment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative; }
  .payment__inner {
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .payment__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #EB1537;
    margin-bottom: 24px; }
  .payment__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    margin-bottom: 16px;
    width: 444px;
    text-align: center; }
  .payment__type {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 444px; }
  .payment__btn {
    display: flex;
    width: calc(50% - 4px);
    border: 2px solid #E8E8E8;
    border-radius: 12px;
    gap: 12px;
    background-color: transparent;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 19px;
    transition: all 0.3s ease 0s; }
    .payment__btn:hover {
      border: 2px solid #e7919f; }
    .payment__btn span {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../img/radio.svg");
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: 0 0; }
    .payment__btn img {
      width: auto;
      height: 35px; }
    .payment__btn._active {
      border-color: #EB1537; }
      .payment__btn._active span {
        background-image: url("../img/radio-active.svg"); }
  @media (max-width: 1200px) {
    .payment__inner {
      background-color: #ffffff;
      border-radius: 16px;
      padding: 20px; } }
  @media (max-width: 767.98px) {
    .payment__inner {
      padding: 8px;
      width: 100%;
      max-width: 640px; }
    .payment__title {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 12px; }
    .payment__text {
      margin-bottom: 12px; }
    .payment__type {
      flex-direction: column; }
    .payment__btn {
      width: 100%; }
    .payment .content__btns {
      width: 100%;
      max-width: 444px; } }
  @media (max-width: 600px) {
    .payment__btns, .payment__type {
      width: 100%;
      max-width: 100%; } }

.slide {
  transition: all 0.5s ease 0s;
  position: relative;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .slide {
      background: none !important; } }
  @media (max-width: 1200px) {
    .slide:after {
      display: block;
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 58.85%);
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 0;
      z-index: 1;
      top: 0;
      left: 0; } }

#slide1 {
  background-image: url("../img/bg/1.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  #slide1:after {
    display: block;
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 58.85%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    z-index: 1; }
  #slide1 .section-inner {
    z-index: 2;
    position: relative; }

@media (max-width: 1200px) {
  #slide9 {
    background-image: url("../img/bg/6.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
    #slide9:after {
      display: block;
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 58.85%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0;
      z-index: 1; }
    #slide9 .section-inner {
      z-index: 2;
      position: relative; } }

@keyframes scaling {
  0%, 100% {
    transform: scale(0.2);
    background-color: #fbe4e9; }
  40% {
    transform: scale(1);
    background-color: #e8667f; }
  50% {
    transform: scale(1);
    background-color: #da002b; } }

/*# sourceMappingURL=style.css.map */
